<!-- IF FRIENDLIST -->
<div class="panel bg1" id="ze_container">
	<h3 id="ze_title">{L_FRINEDLIST_TITLE}</h3>
	<div class="inner" id="ze_inner">
		<div class="postbody">
			<div class="content">
			<!-- IF FRIENDLIST_ERROR_ACCESS -->
			<span class="error">{L_FRIENDLIST_ERROR_ACCESS}</span>
			<!-- ELSE -->
			<!-- BEGIN zebra_friendslist -->
				<span class="avatar" style="display: inline-block; margin: 1px;"><a href="{zebra_friendslist.USER_LINK}">{zebra_friendslist.USER_AVATAR} {zebra_friendslist.USERNAME}</a></span>
				<!-- END zebra_friendslist -->
			<!-- ENDIF -->
			</div>
		</div>
	</div>
</div>
<!-- ENDIF -->
